/*******************************************************
*
* Mobile styles and other media queries
*
*******************************************************/

/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */

@media only screen and (min-width: 992px) {
  /*#region Global */
  /*#endregion Global */

  /*#region Slideshow Region */

  /*#endregion Slideshow Region */

  /*#region Listings Region */

  /*#endregion Listings Region */

  /*#region Quick Search Region */

  .quick-search-form {
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    max-width: 1415px;
    margin: 0 auto;
    gap: 2px;
    align-items: center;
  }
  .primary-qs-item {
    grid-column: 1/21;
  }
  .secondary-qs-item {
    grid-column: 24/39;
  }
  .tertiary-qs-item {
    grid-column: 39/52;
  }
  .fourth-qs-item {
    grid-column: 52/62;
  }
  .fifth-qs-item {
    grid-column: 62/71;
  }
  .sixth-qs-item {
    grid-column: 71/81;
  }
  .seventh-qs-item {
    grid-column: 81/90;
  }
  .eighth-qs-item {
    grid-column: 91/-1;
  }
  .ninth-qs-item {
    grid-column: 70/-1;
  }

  /*#endregion Quick Search Region */

  /*#region Properties Region */

  .region-properties-container {
    display: grid;
    grid-template-columns: repeat(100, minmax(0, 1fr));
  }
  .properties-slick-body {
    grid-column: 50 / -1;
  }
  .properties-slick {
    grid-column: 5 / 62;
  }
  .properties-right {
    grid-column: 62 / -1;
  }

  /*#endregion Properties Region */

  /*#region Neighborhoods Region */

  .neighborhoods-gallery-image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /*#endregion Neighborhoods Region */

  /*#region Welcome Region */

  .region-welcome-container {
    display: grid;
    max-width: 1383px;
    grid-template-columns: repeat(100, 1fr);
    margin: 0 auto;
    padding: 98px 0 0 0;
  }
  .welcome-primary-section {
    grid-column: 63/-1;
  }
  .welcome-secondary-section {
    padding-left: 32px;
    grid-column: 1/49;
  }

  /*#endregion Welcome Region */

  /*#region Work Region */
  .work-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1138px;
    margin: 0 auto;
    grid-row-gap: 41px;
  }
  .work-content .work-item:nth-child(5) {
    grid-column: 2/3;
  }
  .work-content .work-item:nth-child(6) {
    grid-column: 3/4;
  }
  /*#endregion Work Region */

  /*#region Testimonial Region */

  /*#endregion Testimonial Region */

  /*#region Contact Region */

  /*#endregion Contact Region */

  /*#region Social Region */
  .region-social-container .site-title h2 {
    font-size: 70.71px;
  }
  .region-social-container {
    max-width: 1492px;
    margin: 0 auto;
    gap: 3px;
  }
  .social-item-container {
    display: flex;
    gap: 3px;
  }
  .social-gallery-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
  }
  /*#endregion Social Region */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}

@media only screen and (max-width: 1450px) {
  /* 1367 */
  /*#region Global */
  /*#endregion Global */

  /*#region Slideshow Region */

  /*#endregion Slideshow Region */

  /*#region Listings Region */

  /*#endregion Listings Region */

  /*#region Quick Search Region */

  /*#endregion Quick Search Region */

  /*#region Properties Region */

  /*#endregion Properties Region */

  /*#region Neighborhoods Region */

  /*#endregion Neighborhoods Region */

  /*#region Welcome Region */

  /*#endregion Welcome Region */

  /*#region Work Region */

  /*#endregion Work Region */

  /*#region Testimonial Region */

  /*#endregion Testimonial Region */

  /*#region Contact Region */

  /*#endregion Contact Region */

  /*#region Social Region */

  /*#endregion Social Region */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}

@media only screen and (max-width: 1366px) {
  /*#region Global */
  /*#endregion Global */

  /*#region Slideshow Region */

  /*#endregion Slideshow Region */

  /*#region Listings Region */

  /*#endregion Listings Region */

  /*#region Quick Search Region */

  /*#endregion Quick Search Region */

  /*#region Properties Region */

  /*#endregion Properties Region */

  /*#region Neighborhoods Region */

  /*#endregion Neighborhoods Region */

  /*#region Welcome Region */

  /*#endregion Welcome Region */

  /*#region Work Region */

  /*#endregion Work Region */

  /*#region Testimonial Region */

  /*#endregion Testimonial Region */

  /*#region Contact Region */

  /*#endregion Contact Region */

  /*#region Social Region */

  /*#endregion Social Region */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}

@media only screen and (max-width: 1199px) {
  /*#region Global */
  /*#endregion Global */

  /*#region Slideshow Region */

  /*#endregion Slideshow Region */

  /*#region Listings Region */

  /*#endregion Listings Region */

  /*#region Quick Search Region */

  /*#endregion Quick Search Region */

  /*#region Properties Region */

  /*#endregion Properties Region */

  /*#region Neighborhoods Region */

  /*#endregion Neighborhoods Region */

  /*#region Welcome Region */

  /*#endregion Welcome Region */

  /*#region Work Region */

  /*#endregion Work Region */

  /*#region Testimonial Region */

  /*#endregion Testimonial Region */

  /*#region Contact Region */

  /*#endregion Contact Region */

  /*#region Social Region */

  /*#endregion Social Region */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}

/* iPad(portrait) | Galaxy Tab 4(portrait) */

@media only screen and (max-width: 991px) {
  body.is-open {
    overflow: auto;
  }

  #pojo-a11y-toolbar .pojo-a11y-toolbar-toggle a {
    display: none !important;
  }

  .section-title {
    text-align: center;
    margin-bottom: 40px;
  }

  .hp-sidebar {
    display: none;
  }

  /*#region Header */

  header.header {
    position: relative;
    margin-top: 53px;
    background: #111;
    padding: 25px 15px;
  }
  .header-container {
    display: flex;
    justify-content: center;
  }

  .navigation {
    display: none;
  }

  /*#endregion Header */

  /*#region Contact */

  .contact-form .form-md {
    width: 100%;
  }

  .contact-form .pad-left,
  .contact-form .middle-pad-left,
  .contact-form .pad-right,
  .contact-form .middle-pad-right {
    padding: 0;
  }

  /*#endregion Contact */
  /* The following are used on inner pages. Please edit carefully. */
  .aios-mobile-header-wrapper {
    z-index: 1020 !important;
  }

  .inner {
    width: 100%;
  }
  #content-sidebar,
  #content-full {
    width: 100%;
  }
  .outer {
    width: 100%;
    min-width: 100%;
  }
  #content-sidebar #content {
    width: 100%;
  }
}

/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */

@media only screen and (max-width: 767px) {
  /* 481 */
  .ip-banner .container {
    width: 100%;
  }
}

/* Galaxy S5(portrait) | iPod Touch(landscape) | iPod Touch(portrait) */

@media only screen and (max-width: 480px) {
  /*#region Global */
  /*#endregion Global */

  /*#region Footer */
  /*#endregion Footer */
  /*#region Fixed smi */
  /*#endregion Fixed smi */
}
